<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
<c-container>
    <c-row class="justify-content-center">
        <c-col md="6">
            <c-card class="p-4">
                <c-card-body>
                    <form cForm [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <img src="assets/images/logo.png" class="w-[55px]" alt="logo" />
                        <h2 class="text-3xl font-bold">Forgot Password</h2>
                        <p class="text-md mt-1">Enter your email address to reset your password</p>
                        <c-input-group class="mt-2">
                            <span cInputGroupText>
                                <svg cIcon name="cilUser"></svg>
                            </span>
                            <input autoComplete="email" cFormControl formControlName="email" placeholder="Email" />
                        </c-input-group>
                        <div *ngIf="forgotPasswordForm.get('email')?.invalid && submitted" class="text-danger">
                            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
                            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                        </div>
                        <button cButton class="px-4 w-100 fw-bold mt-4" color="primary" type="submit">
                            Send
                        </button>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>
</div>
<app-notification [message]="notification?.message || null" [type]="getNotificationType()">
</app-notification>