<div class="px-3 py-4">
  <c-row>
    <c-col xs="12" sm="12" md="12" lg="8">
      <h1 class="text-xl font-bold">My Portfolio</h1>
      <table cTable class="mt-4">
        <thead>
          <tr class="bg-[#f3f3f3]">
            <th scope="col">
              <p class="text-sm">Token</p>
            </th>
            <th scope="col">
              <p class="text-sm">Share %</p>
            </th>
            <th scope="col">
              <p class="text-sm">Amount</p>
            </th>
            <th scope="col">
              <p class="text-sm">24h change</p>
            </th>
            <th scope="col">
              <p class="text-sm">Price</p>
            </th>
            <th scope="col">
              <p class="text-sm">Total</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <p class="text-sm">Binance Coin BNB</p>
            </th>
            <td>
              <p class="text-sm font-bold">43%</p>
            </td>
            <td>
              <p class="text-sm font-bold">0.023450</p>
            </td>
            <td>
              <p class="text-sm font-bold text-green-500">+1.34%</p>
            </td>
            <td>
              <p class="text-sm font-bold">38,000</p>
            </td>
            <td>
              <p class="text-sm font-bold">$12,341</p>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <p class="text-sm">Binance Coin BNB</p>
            </th>
            <td>
              <p class="text-sm font-bold">43%</p>
            </td>
            <td>
              <p class="text-sm font-bold">0.023450</p>
            </td>
            <td>
              <p class="text-sm font-bold text-green-500">+1.34%</p>
            </td>
            <td>
              <p class="text-sm font-bold">38,000</p>
            </td>
            <td>
              <p class="text-sm font-bold">$12,341</p>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <p class="text-sm">Binance Coin BNB</p>
            </th>
            <td>
              <p class="text-sm font-bold">43%</p>
            </td>
            <td>
              <p class="text-sm font-bold">0.023450</p>
            </td>
            <td>
              <p class="text-sm font-bold text-red-500">-1.34%</p>
            </td>
            <td>
              <p class="text-sm font-bold">38,000</p>
            </td>
            <td>
              <p class="text-sm font-bold">$12,341</p>
            </td>
          </tr>
        </tbody>
      </table>

      <h1 class="text-xl font-bold">Popular DCA Bots</h1>
      <div class="flex justify-between gap-5 my-3">
        <div class="flex flex-col w-full">
          <p class="text-md font-bold">USDT/ALGO</p>
          <div class="flex justify-between mt-2">
            <p class="text-sm">Daily Profit</p>
            <p class="text-sm text-green-500 font-bold">+1.45%</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Days Running</p>
            <p class="text-sm">4</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Trades</p>
            <p class="text-sm">20</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Stop Loss</p>
            <p class="text-sm text-red-500 font-bold">NO</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Last Edited</p>
            <p class="text-sm">04/26/2021</p>
          </div>
          <div>
            <button class="bg-blue-500 text-white px-10 py-2 text-sm rounded-md mt-2">Start Now</button>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <p class="text-md font-bold">USDT/ALGO</p>
          <div class="flex justify-between mt-2">
            <p class="text-sm">Daily Profit</p>
            <p class="text-sm text-green-500 font-bold">+1.45%</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Days Running</p>
            <p class="text-sm">4</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Trades</p>
            <p class="text-sm">20</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Stop Loss</p>
            <p class="text-sm text-red-500 font-bold">NO</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Last Edited</p>
            <p class="text-sm">04/26/2021</p>
          </div>
          <div>
            <button class="bg-blue-500 text-white px-10 py-2 text-sm rounded-md mt-2">Start Now</button>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <p class="text-md font-bold">USDT/ALGO</p>
          <div class="flex justify-between mt-2">
            <p class="text-sm">Daily Profit</p>
            <p class="text-sm text-green-500 font-bold">+1.45%</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Days Running</p>
            <p class="text-sm">4</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Trades</p>
            <p class="text-sm">20</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Stop Loss</p>
            <p class="text-sm text-red-500 font-bold">NO</p>
          </div>
          <div class="flex justify-between mt-1">
            <p class="text-sm">Last Edited</p>
            <p class="text-sm">04/26/2021</p>
          </div>
          <div>
            <button class="bg-blue-500 text-white px-10 py-2 text-sm rounded-md mt-2">Start Now</button>
          </div>
        </div>
      </div>
    </c-col>
    <c-col xs="12" sm="12" md="12" lg="4">
      <div class="w-full rounded-3xl bg-white p-4 shadow-lg">
        <h1 class="text-xl font-bold">My DCA Bots</h1>
        <p class="text-sm mt-1">A bot hasn't been created yet. Choose a strategy or copy another bot, use signals and
          get a profit.</p>
        <button class="bg-blue-500 text-white px-10 py-2 text-sm rounded-md mt-2">Launch Bot</button>
      </div>

      <div class="w-full rounded-3xl bg-white p-4 shadow-lg mt-4">
        <h1 class="text-xl font-bold">My Smart Trades</h1>
        <p class="text-sm mt-1">A SmartTrade hasn't been created yet. Set Take-profit & Stop-loss to start your first
          trade.
          Use the trailing take-profit and stop-loss feature to maximize profits.
        </p>
        <button class="bg-blue-500 text-white px-10 py-2 text-sm rounded-md mt-2">Launch Bot</button>
      </div>

      <div class="w-full rounded-3xl bg-white p-4 shadow-lg mt-4">
        <h1 class="text-xl font-bold">Marketplace</h1>
        <p class="text-sm mt-1">
          Create your own bots based on signals and configurations from market professionals.
        </p>
      </div>
    </c-col>
  </c-row>

  <div class="mt-4">
    <h1 class="text-xl font-bold">Supported Changes</h1>
    <table cTable class="mt-4">
      <thead>
        <tr>
          <th scope="col">
            <p class="text-sm">Exchange</p>
          </th>
          <th scope="col">
            <p class="text-sm">Account Name</p>
          </th>
          <th scope="col">
            <p class="text-sm">Smart Trade</p>
          </th>
          <th scope="col">
            <p class="text-sm">DCA Bot</p>
          </th>
          <th scope="col">
            <p class="text-sm">Grid Bot</p>
          </th>
          <th scope="col">
            <p class="text-sm">Options Bot</p>
          </th>
          <th scope="col">
            <p class="text-sm">Vol (24h)</p>
          </th>
          <th scope="col">
            <p class="text-sm">Trade Pairs</p>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="text-sm font-bold">Binance</p>
          </td>
          <td>
            <p class="text-sm font-bold">Solona Exchange</p>
          </td>
          <td>
            <p class="text-sm font-bold">Yes</p>
          </td>
          <td>
            <p class="text-sm font-bold">Yes</p>
          </td>
          <td>
            <p class="text-sm font-bold">Yes</p>
          </td>
          <td>
            <p class="text-sm font-bold">Yes</p>
          </td>
          <td>
            <p class="text-sm font-bold">$ 123,456.321</p>
          </td>
          <td>
            <p class="text-sm font-bold">200</p>
          </td>
          <td>
            <p class="text-sm">
              <button class="bg-blue-500 text-white px-2 py-1 text-sm rounded-md">Connect</button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>