:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.nav-link {
  padding: 4px !important;
  color: black !important;
  position: relative; // Add this line to position the pseudo-element

  &.active {
    background-color: white !important;
    color: #321fdb !important;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      height: 2px;
      background-color: #321fdb;
      width: 95%;
      justify-self: center;
    }
  }
}